@model Pitchball.Domain.Models.Captain

@{
    ViewData["Title"] = "Captain Panel";
}
@section Styles{
    <link rel="stylesheet" href="~/css/UserPanel.css" />

}

<div class="card ">
    <div class="card-header text-success">
        <b><h2>Moje Konto</h2></b>
    </div>
    <div class="card-body">
        <div class="form-row">

            <div class="form-group col-lg-2 text-left">
                @{
                    var image = Url.Action("GetPictureAsync", "Captain");
                    <img src="@image" class=" img-responsive img-fluid img-thumbnail" alt="Alternate Text" /><br />
                }
                <br />
                <div style="line-height:70%;">
                    <label for="inputName&SurName"><b><big>@Model.Name @Model.Surname</big></b></label>
                    <br />
                    <br />
                    <label for="inputLogin">
                        <p><i><big>@Model.Login</big></i></p>
                    </label><br />
                    <label for="inputLogin">
                        <p><big><b>Nazwa drużyny: </b></big>@Model.Team.Name</p>
                    </label><br />
                </div>
                <a href="@Url.Action("EditProfile", "Captain")" class=" text-center btn-lg btn-block  btn btn-info" style="" role="button">Edytuj profil</a>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-8">
                        <ul class="nav nav-tabs " style="margin-top:1%;" role="tablist">
                            <li class="nav-item  ">
                                <a class="nav-link text-dark active tabNav" data-toggle="tab" href="#reservations"><big><b>Rezerwacje</b></big></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark tabNav" data-toggle="tab" href="#comments"><big><b>Komentarze</b></big></a>
                            </li>
                        </ul>        
                        <div class="tab-content">
                            <div id="reservations" class="container tab-pane active">
                                <div class="table-responsive-sm">
                                    <table class="table table-light">
                                        <br />
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Nazwa rezerwacji</th>
                                                <th scope="col">Początek rezerwacji</th>
                                                <th scope="col">Koniec Rezerwacji</th>
                                                <th scope="col">Nazwa boiska</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Reservations == null || !Model.Reservations.Any())
                                            {
                                                <p class="card-text">Nie posiadasz jeszcze jakichkolwiek rezerwacji.</p>
                                            }
                                            else
                                            {
                                                <div class="list-group">
                                                    @foreach (var reservation in Model.Reservations.OrderByDescending(x => x.CreatedAt))
                                                    {

                                                    <tr class="table-row">
                                                        <td>@reservation.Name </td>
                                                        <td>@reservation.StartDate</td>
                                                        <td>@reservation.EndDate</td>
                                                        <td>@reservation.Pitch.Name</td>
                                                        <td><a class=" text-center  btn-block  btn btn-danger" style="" role="button">Usuń</a></td>
                                                    </tr>
                                                    }
                                                </div>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <hr />
                                <div id="comments" class="container tab-pane fade">
                                    @if (Model.Comments == null || !Model.Comments.Any())
                                    {
                                        <p>Nie posiadasz jakichkolwiek komentarzy...</p>
                                    }
                                    else
                                    {
                                        @foreach (var comment in Model.Comments.OrderByDescending(x => x.CreatedAt))
                                        {
                                            <div class="card comment" id="comment">
                                                <div class="card-header text-left">

                                                    <p style="font-size:18px; margin-bottom:0px; margin-top:0px;"><b>@comment.Pitch.Name</b></p>
                                                    <p style="margin-bottom:0px; font-size:14px;"><i>@comment.CreatedAt.ToShortTimeString() @comment.CreatedAt.ToShortDateString()</i></p>
                                                </div>
                                                <p style="font-size:16px; margin:1%">@comment.Content</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                    <div class="col-md-12 text-center">
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <br>
</div>