@model IEnumerable<Pitchball.Domain.Models.Pitch>

@section Styles{
    <link rel="stylesheet" href="~/css/Pitches.css" />

}
<table class="table-responsive-sm table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Lp.</th>
            <th class="hidden" scope="col">Zdjęcie obiektu</th>
            <th scope="col">Nazwa obiektu</th>
            <th scope="col">Adres</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var pitch in Model)
            {
            <tr class="table-row ">
                <th scope="row">@pitch.Id</th>
                <td class="hidden">@pitch.PitchImage</td>
                <td><a asp-action="Pitch" asp-route-id="@pitch.Id">@pitch.Name</a></td>
                <td>@pitch.Street</td>
            </tr>
                }
            }
            else
            {
            <p>Nie ma tutaj żadnych boisk.</p>
            }
    </tbody>
</table>