@model IEnumerable<Pitchball.Domain.Models.Pitch>
@using Microsoft.AspNetCore.Http;
@section Styles{
    <link rel="stylesheet" href="~/css/Pitches.css" />

}
@{
    ViewData["Title"] = "Boiska";
}
@if (ViewBag.Added == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Pitch has been <strong>successfully</strong> deleted.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ViewBag.ShowMessage == true)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Context.Session.GetString("Role") == "Admin")
{
    <div class="card">
        <a href="@Url.Action("NewPitch", "Pitch")" class="btn btn-success">Dodaj nowe boisko!</a>
    </div>
}

<table class="table-responsive-sm table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Nazwa obiektu</th>
            <th scope="col">Adres</th>
            @if (Context.Session.GetString("Role") == "Admin")
            {
                <th scope="col">Usuwanie boiska</th>
            }
        </tr>

    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var pitch in Model)
            {
                <tr class="table-row ">
                    <th scope="row">@pitch.Id</th>
                    <td><a asp-action="Pitch" asp-route-id="@pitch.Id">@pitch.Name</a></td>
                    <td>@pitch.Street</td>
                    @if (Context.Session.GetString("Role") == "Admin")
                    {
                        <td>
                            <a href="@Url.Action("DeleteReservationbyAdmin", "Admin", new { id = pitch.Id.ToString()})" class="btn btn-danger">Usuń</a>
                        </td>
                    }

                </tr>
            }
        }
        else
        {
            <p>Nie ma tutaj żadnych boisk.</p>
        }
    </tbody>
</table>
